/**
 * Layout for override
 */
$layout-base: map-remove($susy, container);

/**
 * Fixed layout for carousels
 */
$layout-fixed-sm: (
  container: 750px,
  math: static,
  // container/columns
  column-width: 62.5px,
  columns: 12,
  gutters: .20,
  gutter-position: after,
  global-box-sizing: border-box
);

$layout-fixed-md: (
  container: 970px,
  math: static,
  // container/columns
  column-width: 80.833333333px,
  columns: 12,
  gutters: .20,
  gutter-position: after,
  global-box-sizing: border-box
);

$layout-fixed-lg: (
  container: 1170px,
  math: static,
  // container/columns
  column-width: 97.5px,
  columns: 12,
  gutters: .20,
  gutter-position: after,
  global-box-sizing: border-box
);
